<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TBC{% endblock %}</title>
</head>
<body>
    <header><h2>Заголовок сайта</h2></header>
    <a href="{% url 'login' %}">Войти</a>
    <a href="{% url 'registration' %}">Зарегистрироваться</a>
    <a href="{% url 'logout' %}">Выйти</a>

    <h3><a href="{% url 'recipe_list' %}">Все рецепты</a></h3>
    <div>
        {% block content %}
            TBC
        {% endblock %}
    </div>
    <footer><h2>Нижний колонтитул сайта</h2></footer>
</body>
</html>